.card {
    width: 200px;
    background-color: rgb(253, 228, 219);
    padding: 20px;
    border: 2px solid coral;
    text-align: center;
    border-radius: 4px;
}

.card div {
    font-size: 80px;
}

/* Add your CSS styles below this line */

a:hover {
      background-color: rgb(43, 43, 255);
      border-radius: 400px;
}

.card::before {
    content: "Sale";
    background-color: red;
    color:white;
    font-size: 25px;
    border-radius: 800px;
}