li:hover {
    background-color: rgb(255, 139, 158);
    font-size: 30px;
    cursor:pointer;
}

li:active {
    background-color: rgb(255, 208, 215);
    font-style: italic;
}

li::before {
    content: "🌺"
}

li:hover::after {
    content: " Vote for me!!";
    margin-left: 12px;
    font-weight: bold;
    color:rgb(227, 163, 255)
}

li:active::before {
        content: "✓";
}

ul {
    list-style: none;
}